<log4net>
	<!-- =========================================================================== -->
	<root>
		<level value="ALL"/>
		<!-- remove to stop output to file-->
		<appender-ref ref="FileAppender"/>
		<!-- remove to stop output to Adis.Log-->
		<appender-ref ref="Adis.Log.Appender"/>
	</root>
	<logger name="sample1"	>
		<level value="INFO"/>
	</logger>

	<!-- A Console appender that only outputs debug messages-->
	<appender name="Adis.Log.Appender" type="Adis.Log.Client.Appender, Adis.Log.Client">
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="--------------------%n"/>
		</layout>
		<filter type="log4net.Filter.LevelRangeFilter">
			<levelMin value="ALL"/>
		</filter>
	</appender>

	<!-- a file appender that output's all BUT debug messages
			Will append to output.log
			-->
	<appender name="FileAppender" type="log4net.Appender.FileAppender">
		<file value="output.log"/>
		<appendToFile value="true"/>
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="--------------------%n
Level=      %-5level%n
class=      %class%n
date=       %date%n
User=       %property{user}%n
Instance=   %property{instance}%n
Message=    %message%n
extra Info= %property{ExtraInfo}%n"/>
		</layout>
		<filter type="log4net.Filter.LevelRangeFilter">
			<levelMin value="INFO"/>
		</filter>
	</appender>


</log4net>
