<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<client>
			<endpoint address="http://aiondev9/AdisLog/logger.svc" binding="wsHttpBinding"
								contract="Adis.Log.Contract.ILoggingContract" bindingConfiguration="wsHttpBinding_Insecure"
								name="Logger"/>
		</client>
		<bindings>
			<wsHttpBinding>
				<binding name="wsHttpBinding_Insecure">
					<security mode="None"/>
				</binding>
			</wsHttpBinding>
		</bindings>
	</system.serviceModel>
</configuration>