body
{
	font-family:Arial;
	font-size:10pt;
	overflow:hidden;
	background-color:#EEEEFF;
}

form
{
	margin:0px;
}

select
{
	border:solid black 1px;
}

p
{
	margin:0 0 0 0;
	padding:0 0 0 0;
}

.top_section
{
	position: absolute;
	height:130px;
	overflow:hidden;
	top:0px;
	left:0px;
	right:0px;
	padding-top:10px;
	padding-left:5px;
	padding-right:5px;
}

.main_section
{
	position: absolute;
	border-top:solid 1px #AAAAAA;
	border-left:solid 1px #999999;
	top:130px;
	bottom:2px;
	left:0px;
	right:0px;
	margin-left:25px;
	margin-right:25px;
	padding-top:2px;
	padding-left:3px;
	padding-right:5px;
	overflow-x:hidden;
	overflow-y:scroll;
}

.filter_section
{
	border: 1px solid #808080;
	margin-top:5px;
	margin-bottom:5px;
	padding:5px;
	
}

#filterForm .filter_line>div
{
	border: 0px;
	float:left;
	margin-left:5px;
}
#filterForm .filter_line>div label
{
	display:block;
	margin-bottom:2px;
	font-weight:bolder;
}

pre
{
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.error_message
{
	color: White;
	background-color:Red;
}

.log_item
{
	padding: 2px 4px 2px 4px;
	margin: 0px 0px 5px 0px;
	border:solid 1px black;
	color:#808080;
}

.has_extra_info
{
	cursor: hand;
}

.log_item .extra_info
{
	color: Black;
	cursor:default;
}

.log_item .message
{
 color:Black;
}

.log_item>table
{
	table-layout:fixed;
}
.severity_FATAL
{
	background-color: #BBBBBB;
}

.severity_ERROR
{
	background-color: #FFBBBB;
}

.severity_WARN
{
	background-color: #CCCCFF;
}

.severity_INFO
{
	background-color: #DDFFDD;
}

.severity_DEBUG
{
	background-color: #FFFFDD;
}

.swatch
{
	width:100px;
	margin: 2px 5px 2px 5px;
	padding:2px 5px 2px 5px;
	border:solid 1px Black;
}

.pager
{
	font-size: x-large;
}

.pager_item
{
	margin-left: 5px;
	margin-right: 5px;
}

.current_page
{
	font-weight:bold;
}

.show_extra_info_button
{
	border-bottom-width:0px;
}

.filter_header
{
	cursor: hand;
	font-weight:bold;
	background-color:#EEEEFF;
	padding:5px;
}

.filter_header .filter
{
	display: inline-block;
	float:left;
	padding:0px 5px 0px 0px;
}

.filter_header .filter_value
{
	color:Red;
}

.expander
{
	cursor: hand;
	display: inline-block;
	float: right;
	text-align: right;
	width:16px;
	height:16px;
	padding-right: 5px;
	background: transparent url('../../Content/Images/expand.png') no-repeat left top;
}


.brclear
{ 
	display: block;
	clear:both; 
	height:0; 
	margin:0;
	font-size: 1px;
	line-height: 0px;
}

.calendar_icon
{
	cursor:hand;
}













