<?xml version="1.0"?>
<configuration>
	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding name="NonsecureTcp" >
					<security mode="None"/>
				</binding>
			</netTcpBinding>
			<wsDualHttpBinding>
				<binding name="DualHttpListener" closeTimeout="00:01:15"
						openTimeout="00:01:15" receiveTimeout="00:10:00" sendTimeout="00:01:15"
						bypassProxyOnLocal="true" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
						maxBufferPoolSize="524288" maxReceivedMessageSize="1024536"
						messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
								 clientBaseAddress="http://nz59lp000008285:8731/Design_Time_Addresses/listener">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
							maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="None">
						<message clientCredentialType="Windows" negotiateServiceCredential="true" />
					</security>
				</binding>
				<!--<binding name="DualHttpListener" clientBaseAddress="http://nz59lp000008285:8111/listener"/>-->
			</wsDualHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://localhost/Logos/Listener.svc"
								binding="wsDualHttpBinding"
								bindingConfiguration="DualHttpListener"
								contract="Adis.Log.Contract.IListenerContract"
								name="ListenerEndpoint" />
			<!--<endpoint address="net.tcp://localhost:8732/Design_Time_Addresses/Adis.Log/ListenerService"
								binding="netTcpBinding"
								bindingConfiguration="NonsecureTcp"
								contract="Adis.Log.Contract.IListenerContract"
								name="NetTcpBinding" />-->
		</client>
	</system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
