<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
  </configSections>
  <connectionStrings>
    <!--<add name="Adis.Log.Properties.Settings.LoggerConnectionString"
      connectionString="Data Source=192.168.245.128;Initial Catalog=logos;user=logos_loguser;password=logos_loguser"
      providerName="System.Data.SqlClient" />-->
    <add name="DataSourceConnectionString" connectionString="Data Source=sqldev;Initial Catalog=adislogging;user=adislogging_logwriter;password=adislogging_logwriter"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <services>
      <!-- The Logger service -->
      <service behaviorConfiguration="Server.LoggerBehavior" name="Adis.Log.Server.LoggerService">
				<host>
					<baseAddresses>
						<add baseAddress = "http://localhost:8731/Design_Time_Addresses/AdisLog/Logger" />
					</baseAddresses>
				</host>
				<endpoint address="" binding="wsHttpBinding" contract="Adis.Log.Contract.ILoggingContract" bindingConfiguration="wsHttpUnsecured" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <!-- The Reporter service -->
      <service behaviorConfiguration="Server.LoggerBehavior" name="Adis.Log.Server.ReporterService">
				<host>
					<baseAddresses>
						<add baseAddress = "http://localhost:8731/Design_Time_Addresses/AdisLog/Reporter" />
					</baseAddresses>
				</host>
				<endpoint address="" binding="wsHttpBinding" contract="Adis.Log.Contract.IReporterContract" bindingConfiguration="wsHttpUnsecured" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <!-- The Listener service -->
      <service behaviorConfiguration="Server.ListenerBehaviour" name="Adis.Log.Server.ListenerService">
				<host>
					<baseAddresses>
						<add baseAddress = "http://localhost:8731/Design_Time_Addresses/AdisLog/Listener" />
					</baseAddresses>
				</host>
				<endpoint address="" binding="wsDualHttpBinding" contract="Adis.Log.Contract.IListenerContract" bindingConfiguration="wsDualHttpUnsecured"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Server.LoggerBehavior">
					
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="Server.ListenerBehaviour">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <wsHttpBinding>
        <binding name="wsHttpUnsecured">
					<security mode="None" />
        </binding>
      </wsHttpBinding>
      <wsDualHttpBinding>
        <binding name="wsDualHttpUnsecured">
					<reliableSession inactivityTimeout="00:02:00"/>
					<security mode="None" />
        </binding>
      </wsDualHttpBinding>
    </bindings>
  </system.serviceModel>
  <log4net>
    <!-- =========================================================================== -->
    <root>
      <level value="ALL" />
      <!-- remove to stop output to file-->
      <appender-ref ref="FileAppender" />
    </root>
    <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logfile" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
  </log4net>
</configuration>